@import "mixins/content";

/* tablet devices */
@media screen and (min-width: 772px){
  h1 {
    margin-top: 3.5rem;
  }
  .footer-primary {
    height: 4rem;
    font-size: 1rem;
  }
  /* mixin jumbotron and container */
  @include content(2rem,1.5rem,2rem,1.5rem);
  /* or div#navbarSupportedContent */
  div.navbar-collapse {
    top: 10px;
  }
  .dropdown-menu{
    float: right !important;
    left: inherit !important;
  }
}
