/* General */
$color-bg: #373f46; //background-color of the site
$color-fg: #ffffff; //foreground-color of the site
$height: 4rem; //nav and footer

/* Navigation variables */
$color-nav: rgb(0,204,255);
$transform-text: uppercase;

/* Logo */
$logo-height: 25px;
$logo-pad-ri: 10px;
